@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap);

$mobile-size: 23.43rem;
$desktop-size:90rem;
$dark-cyan:hsl(158, 36%, 37%);
$cream:hsl(30, 38%, 92%);
$very-dark-blu:hsl(212, 21%, 14%);
$dark-blue:hsl(228, 12%, 48%);
$white:hsl(0, 0%, 100%);

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background: $cream;
    font-size: .875rem;
    font-family: Montserrat, sans-serif;
    width: 100%;
}